{% extends "inc/base.html" %} 
{% load static %}
{% block content %}
{% load bootstrap5 %}
<div class="col-9 mt-12">
  <h1>{{question.title}}</h1>
  {% include "inc/question_item.html" %}
  {% for answer in page %} 
  {% include "inc/answer_item.html" %} 
  {% endfor %}
  <form novalidate method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-dark btn-lg">Answer</button>
  </form>
  {% include "inc/pagination.html" %}
  
</div>

<script src="{% static "js/jquery-3.7.0.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

{% endblock content %}
