{% load static %}

<div class="answers" id="{{answer.id}}">
    <div class="row">
      <div class="col-3">
        <div class="avatar">
          <img src="{{ MEDIA_URL }}{{ answer.profile.avatar.url }}" />
        </div>
        <div class="row">
            <div>
              <button class="love-btn-answer btn btn-light" data-id="{{ answer.id }}" type="button"> {{ answer.likes }} Likes</button>
            </div>
        </div>
      </div>
      <div class="col-9">
        <div class="answer_text">
            {{ answer.text }}
        </div>
          {% if answer.question.profile == user.profile %}
          {% if answer.correct %}
          <input class="form-check-input" type="checkbox" data-id="{{ answer.id }}" checked>
          {% else %}
          <input class="form-check-input" type="checkbox" data-id="{{ answer.id }}" unchecked>
          {% endif %}
          <label class="form-check-label">
            Correct
          </label>
        {% endif %}
        
      </div>
    </div>
  </div>