{% load static %}

<div class="question">
  <div class="row">
    <div class="col-3">
      <div class="avatar">
        {% if question.profile.avatar %}
        <img src="{{ MEDIA_URL }}{{ question.profile.avatar.url }}" alt="Here will be picture" />
        {% endif %}
      </div>
      <div class="row">
        <div>
          <div class="counter">{{question.likes}}</div>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="button"
            autocomplete="off"
          >
            Like
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <a class="header_for_question" href="{% url 'question' question.id %}"
        ><h2>{{ question.title }}</h2></a
      >
      <div class="question_text">
      {{ question.text }}
      </div>
      <div class="row">
        <div class="col-4">

          <a href="{% url 'question' question.id %}">
            Answers ({{ question.answer_set.count }})
            </a>
        </div>
        <div class="col-8">
          Tags: {% for tag in question.tag.all %}
          <a href="{% url 'tag' tag.name %}">{{tag.name}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
